<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

    <title>FollowUps</title>
    <style>
    </style>
</head>

<body class="bg-[#836FFF]">
    <div class="grid grid-cols-8 gap-1 h-screen p-2">
        <div class="col-span-1 rounded bg-[#211951] shadow-lg shadow-inner">
            <div class="p-1 flex justify-center">
                <a href="#" id="new_date"
                    class="flex border-green-600 bg-[#211951] text-[#15F5BA] p-1 rounded rounded-lg font-semibold hover:bg-[#836FFF]">Add
                    Date
                    <img width="20" height="18" src="https://img.icons8.com/fluency/48/plus.png" alt="plus" />
                </a>
            </div>
            <div class="insert_dates p-1 w-full flex-rows justify-center">
                <div id="new_date_child" class="hidden bg-[#9400FF] py-1 flex gap-1">
                    <input id="new_date_input" type="text"
                        class="w-4/5 h-full px-2 bg-[#7E30E1] text-[#15F5BA] focus:outline-none">
                    <a id="add_new_date" href="#" class="w-1/5 h-full text-[#4CCD99] font-semibold">
                        Add
                    </a>
                </div>
            </div>
        </div>
        <!-- This is the code editor section -->
        <div class="col-span-5">
            <!-- <p id="current_date_selection" class="font-semibold text-[#F0F3FF]"></p> -->
            <div id="editor" class="w-full h-full rounded"></div>
        </div>
        <!-- This is the code editor section -->
        <!-- This is the calendar and tags section -->
        <div class="col-span-2 rounded">
            <div class="flex flex-col h-full rounded">
                <!-- div class="flex-1 rounded pb-1">
                    <iframe class="w-full h-full"
                        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FKolkata&bgcolor=%2315f5ba&showTitle=0&showTabs=0&showTz=0&showCalendars=0&src=Yzg5M2M4OGM1ODliZGI3M2VkYTk1YmJhM2RmYzI4ZWJkN2U4MTBmZjZmMTRjMzU3ZDE0ZjExNThiMDU5NjA3ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26"
                        style="border-width:0" frameborder="0" scrolling="yes">
                    </iframe>
                </div -->
                <div class="flex-1 bg-[#211951] rounded">
                    <div class="grid grid-rows-12">
                        <div class="row-span-1 grid grid-cols-8 gap-1">
                            <a id="todo" href="#" class="col-span-2 bg-[#15F5BA] text-[#1D2B53] font-semibold">TODO</a>
                            <a id="done" href="#" class="text-[#007F73] col-span-2 font-semibold">DONE</a>
                        </div>
                        <div class="row-span-11 bg-[#15F5BA]">
                            <div id="todolist" class="relative overflow-y-auto"></div>
                            <div id="donelist" class="hidden overflow-y-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This is the calendar and tags section -->
    </div>

</body>

</html>